@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#trending {
  height: 40rem;
  background-color: #f3f5f8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark #trending {
  background-color: #222326;
}

.subtitle {
  margin-bottom: 7em;
  text-align: center;
}

.subtitle h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572ee5;
  line-height: 30px;
}

body.dark .subtitle h2 {
  color: #fff;
}

.subtitle p {
  font-size: 18px;
}

#slider-container {
  position: relative;
}

#slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66.75rem;
  overflow-x: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.img-slider {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  scroll-snap-align: start;
  padding-bottom: 5px;
  position: relative;
  margin-right: 1.875rem;
  width: 22.3125rem;
  height: 17.1875rem;
}

.img-slider img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #572ee5;
  background: transparent;
  color: #572ee5;
  cursor: pointer;
  padding: 10px 15px;
  outline: none;
  opacity: 1;
}

body.dark #prev, body.dark
#next {
  color: #fff;
  border: 1px solid #fff;
}

#prev {
  left: -80px;
}

#next {
  right: -80px;
}

#slider-container:hover button {
  opacity: 1;
}

#prev:hover,
#next:hover {
  background-color: #572ee5;
}

#prev:hover i,
#next:hover i {
  color: #fff;
}

body.dark #prev:hover, body.dark
#next:hover {
  background-color: #fff;
}

body.dark #prev:hover i, body.dark
#next:hover i {
  color: #222326;
}

.gif-buttons {
  position: relative;
  top: -260px;
  left: 220px;
  opacity: 0;
}

.gif-info {
  position: relative;
  top: -110px;
  left: 10px;
  color: #ffffff;
  opacity: 0;
  width: 70%;
}

.gif-info p:nth-child(1) {
  font-size: 15px;
  text-transform: capitalize;
}

.gif-info p:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
}

.buttonGifs {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  height: 32px;
  width: 32px;
  border: none;
}

.gif-card:hover {
  background-color: #572ee5;
}

.gif-card:hover .gif-info,
.gif-card:hover .gif-buttons {
  opacity: 100%;
}

.gif-card:hover .gif {
  opacity: 50%;
}

.gif-card:hover button:hover {
  background: white;
}

.gif-card:hover button:hover .gifButton-hover {
  opacity: 100%;
}

.gif-card:hover .buttonGifs:hover {
  opacity: 1;
}

.gif-card {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  scroll-snap-align: start;
  padding-bottom: 5px;
  position: relative;
  margin-right: 1.875rem;
  width: 22.3125rem;
  height: 17.1875rem;
}

.gif {
  width: 22.3125rem;
  height: 17.1875rem;
}

.gif img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-content .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.title-container,
.container-search,
.trendings {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*TITULO*/
.title-container h1 {
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-size: 2em;
  text-align: center;
  line-height: 50px;
}

body.dark .title-container h1 {
  color: #ffffff;
}

.title-container span {
  color: #50e3c2;
}

.title-container {
  width: 34em;
  height: 100px;
}

/*ILUSTRACION*/
.illustration {
  width: 25rem;
}

.illustration img {
  width: 100%;
  border: none;
  display: block;
}

/*BARRA DE BUSQUEDA*/
.search-bar {
  height: 50px;
  border-radius: 27px;
  padding: 0.625rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-input,
#search-input-nav {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  line-height: 40px;
  width: 34em;
}

.container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 34em;
  border: 1px solid #572ee5;
  border-radius: 27px;
}

body.dark .search {
  border: 1px solid #ffffff;
}

.inner-card hr {
  width: 31.5625rem;
  margin: auto;
  border: 1px solid #9cafc3;
  margin-bottom: 0.625rem;
  opacity: 0.5;
}

.suggestions li {
  color: #9cafc3;
  padding: 0.625rem 0 0.125rem 0.9375rem;
  list-style: none;
}

.suggestions {
  margin: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-bar i {
  color: #572ee5;
  font-size: 20px;
  cursor: pointer;
}

body.dark .search-bar i {
  color: #ffffff;
}

#search-icon-grey {
  color: #9cafc3;
  margin-right: 1.5625rem;
  display: none;
}

/*TRENDINGS STRINGS*/
.trendings {
  margin-top: 4.5625rem;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.trendings h5 {
  font-size: 1.125rem;
  color: #572ee5;
  font-weight: 500;
  margin-bottom: 0.4375rem;
}

body.dark .trendings h5 {
  color: #ffffff;
}

.trendings ul li {
  font-size: 1rem;
  color: #572ee5;
  font-weight: 500;
  opacity: 0.8;
  text-transform: capitalize;
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

body.dark .trendings ul li {
  color: #ffffff;
}

/*RESULTADOS*/
#gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  grid-column-gap: 29px;
  grid-row-gap: 28px;
  width: 80%;
  margin: 0 auto;
}

#gallery .divResult {
  width: 16.25rem;
  height: 12.5rem;
}

#gallery .gifImg {
  width: 16.25rem;
  height: 12.5rem;
}

.gifButtonsContainer {
  position: relative;
  top: -188px;
  left: 145px;
  opacity: 0;
}

.gifButton {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  height: 32px;
  width: 32px;
  border: none;
}

.infoGif {
  position: relative;
  top: -100px;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  width: 70%;
}

.infoGif p:nth-child(1) {
  font-size: 15px;
  text-transform: capitalize;
}

.infoGif p:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
}

.gifButton-hover {
  opacity: 40%;
}

.gifButton-hover:hover {
  opacity: 1;
}

.divResult:hover {
  background-color: #572ee5;
  cursor: pointer;
}

.divResult:hover .gifButtonsContainer,
.divResult:hover .infoGif {
  opacity: 100%;
}

.divResult:hover .gifImg {
  opacity: 50%;
}

.divResult:hover button:hover {
  background: white;
}

.divResult:hover button:hover .gifButton-hover {
  opacity: 100%;
}

#gallery .gifImg img {
  display: block;
  margin-right: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#results h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #572ee5;
  text-align: center;
  line-height: 30px;
  margin: 80px 0 60px 0;
}

body.dark #results h2 {
  color: #ffffff;
}

#results hr,
#no-results hr {
  width: 338px;
  border: 1px solid #9cafc3;
  margin: auto;
  opacity: 0.5;
  position: relative;
  top: -20px;
}

#result-title {
  text-transform: capitalize;
}

#no-results {
  width: 80%;
  margin: 3.125rem auto 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#no-results h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #572ee5;
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
}

#no-results p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #50e3c2;
  text-align: center;
  line-height: 25px;
}

#no-results div img {
  margin: 109px 0 29px 0;
}

#no-results hr {
  width: 338px;
  border: 1px solid #9cafc3;
  margin: 80px auto;
  opacity: 0.5;
}

header {
  width: 100%;
  position: fixed;
  height: 95px;
  background-color: #ffffff;
  top: 0;
  padding: 10px 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid #572ee5;
  z-index: 2;
}

body.dark header {
  background-color: #37383c !important;
  border-top: 5px solid black;
}

header img {
  float: left;
}

header nav {
  float: right;
}

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 94px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: rgba(87, 46, 229, 0.9);
  height: 0px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[1];
      grid-template: repeat(3, 1fr)/repeat(1, 1fr);
}

body.dark header nav .menu ul {
  background: #000;
}

#plus {
  display: none;
}

header nav .menu ul li {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 0;
  line-height: 28px;
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 700;
  width: 100%;
}

header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 400px;
}

header nav .menu {
  padding-top: 3px;
}

header nav .menu hr {
  width: 41px;
  border: 1px solid #fff;
  text-align: center;
  opacity: 0.5;
  margin: 40px auto;
}

/*checkbox transparente y en primer plano*/
header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

/*span -lineas del menu hamburguesa-*/
header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #572ee5;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
}

body.dark header nav .menu span {
  background: #ffffff;
}

header nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*movimiento a cruz*/
header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

header img {
  width: 48px;
  display: block;
}

/*menu simple con tamaño menor a 1000px*/
@media screen and (min-width: 1200px) {
  header nav .menu ul {
    position: relative;
    top: 0;
    right: 1.875rem;
    overflow: hidden;
    background: unset;
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.dark header nav .menu ul {
    background: #37383c;
  }
  header nav .menu ul li {
    padding: 0.3125rem 2rem;
    display: inline-block;
    text-transform: uppercase;
    color: #572ee5;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
  }
  header nav .menu ul li:hover {
    background: unset;
  }
  header nav .menu ul li a {
    padding: unset;
    line-height: unset;
    color: #572ee5;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  body.dark header nav .menu ul li a {
    color: #ffffff;
  }
  header nav .menu ul li a:hover {
    color: #572ee5;
    border-bottom: 2px solid #5ed7c6;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
  header nav .menu hr {
    display: none;
  }
  #plus {
    display: block;
    width: 3.375rem;
    height: 3.375rem;
    border: 1px solid #572ee5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    padding: 0;
  }
  body.dark #plus {
    border: 1px solid #fff;
  }
  #plus a:hover {
    border-bottom: none;
  }
  #plus:hover {
    background-color: #572ee5;
  }
  #plus:hover a {
    color: #fff;
  }
  #plus:active {
    background-color: #9cafc3;
    border: 1px solid #9cafc3;
  }
  .active-plus {
    background-color: #9cafc3;
    border: 1px solid #9cafc3 !important;
  }
  .active-plus i {
    color: #ffffff;
  }
}

.nav-search {
  height: 3.125rem;
  border-radius: 27px;
  padding: 0.625rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.875rem;
  border: 1px solid #572ee5;
  position: relative;
  right: 190px;
}

body.dark .nav-search {
  border: 1px solid #ffffff;
}

.nav-search i {
  color: #572ee5;
  font-size: 1.25rem;
  cursor: pointer;
}

body.dark .nav-search i {
  color: #ffffff;
}

.shadow {
  -webkit-box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
          box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

#main-fav .title-fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}

.title-fav h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
}

body.dark .title-fav h2 {
  color: #ffffff;
}

#favoritos {
  margin-bottom: 3.125rem;
}

/*GALLERY FAV*/
#gallery-fav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  grid-column-gap: 29px;
  grid-row-gap: 28px;
  width: 80%;
  margin: 50px auto;
}

#gallery-fav img {
  display: block;
  margin-right: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*NO CONTENT FAV*/
#no-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 109px 0 137px 0;
}

#no-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #50e3c2;
  margin-top: 23px;
}

.title-gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-gifos h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

body.dark .title-gifos h2 {
  color: #ffffff;
}

#no-gifos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 136px auto;
}

#no-gifos .container p {
  color: #50e3c2;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

#gifos .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  grid-column-gap: 29px;
  grid-row-gap: 28px;
  width: 80%;
  margin: 50px auto;
}

#create-gifo-main {
  margin-top: 150px;
}

.grid-container-create {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: 60% 15% 15%;
      grid-template-rows: 60% 15% 15%;
  gap: 0px 0px;
      grid-template-areas: "camera-1 vid ..." "... steps camera-2" "... line-btns ...";
  height: 81vh;
  width: 70vw;
  margin: 0 auto;
}

.camera-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: camera-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vid {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: vid;
  border: 1px solid #572ee5;
  padding: 20px;
  width: 688px;
  height: 390px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: 10% 40% 40% 10%;
      grid-template-rows: 10% 40% 40% 10%;
  gap: 0px 0px;
      grid-template-areas: "square-1 ... square-2" "... vid-container ..." "... vid-container ..." "square-3 ... square-4";
  margin: 0 auto;
}

.camera-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: camera-2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.steps {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: steps;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-btns {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: line-btns;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.square-1 {
  border-top: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
  width: 27px;
  height: 25px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: square-1;
}

.square-2 {
  border-top: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  width: 27px;
  height: 25px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: square-2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 50%;
}

.square-3 {
  border-bottom: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
  width: 27px;
  height: 25px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: square-3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.square-4 {
  border-bottom: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  width: 27px;
  height: 25px;
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: square-4;
  margin-left: 50%;
}

.vid-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: vid-container;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vid-container__title {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
}

.vid-container__title span {
  color: #50e3c2;
}

body.dark .vid-container__title {
  color: #ffffff;
}

.viv-container__text {
  text-align: center;
  line-height: 29px;
}

.step-1,
.step-2,
.step-3 {
  border: 1px solid #572ee5;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.step-1 p,
.step-2 p,
.step-3 p {
  color: #572ee5;
  font-size: 18px;
  font-weight: 500;
}

body.dark .step-1, body.dark
.step-2, body.dark
.step-3 {
  border: 1px solid white;
}

body.dark .step-1 p, body.dark
.step-2 p, body.dark
.step-3 p {
  color: white;
}

.steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-container {
  position: absolute;
  right: 30%;
}

.repeat {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-weight: bold;
  border-bottom: 2px solid #50e3c2;
  cursor: pointer;
}

body.dark .repeat {
  color: #ffffff;
}

.timer {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-weight: bold;
}

body.dark .timer {
  color: #ffffff;
}

.line {
  width: 795px;
  height: 7px;
  background: #572ee5;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

body.dark .line {
  background: black;
}

.btn-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 127px;
  height: 50px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  margin: 20px auto;
}

body.dark .btn-create {
  border: 1px solid #ffffff;
}

.btn-create a {
  text-decoration: none;
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

body.dark .btn-create a {
  color: #ffffff;
}

.btn-create:hover {
  background: #572ee5;
}

.btn-create:hover a {
  color: #ffffff;
}

body.dark .btn-create:hover a {
  color: #37383c;
}

body.dark .btn-create:hover {
  background: #ffffff;
}

body.dark .cam-svg-1 {
  content: url("../assets/camara-modo-noc.svg");
}

body.dark .cam-svg-2 {
  content: url("../assets/pelicula-modo-noc.svg");
}

.video {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 240px;
}

.p-loader,
.p-upload {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.loading,
.uploaded {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 50px;
  z-index: 500;
}

.salame {
  opacity: 50%;
}

@media all and (min-width: 375px) and (max-width: 480px) {
  #slider {
    width: 20rem;
    overflow-x: scroll;
  }
  #prev,
  #next {
    display: none;
  }
  #trending {
    height: 25rem;
  }
  #trending .subtitle {
    margin-bottom: 3rem;
    width: 51%;
  }
  #trending .subtitle h2 {
    font-size: 20px;
  }
  #trending .subtitle p {
    font-size: 16px;
  }
  .gif,
  .gif-card {
    width: 15rem;
    height: 10rem;
  }
  .nav-search {
    right: 0;
    width: 15rem;
    display: none;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3] !important;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template: repeat(3, 1fr)/repeat(1, 1fr) !important;
    overflow: hidden;
    margin: 0 auto;
    width: 60%;
  }
  footer {
    padding: 0 5em !important;
    height: 12em !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .share-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.8125rem;
    padding-top: 1rem;
  }
  .share-container ul {
    margin-top: 1.25rem;
  }
  .title-container {
    width: 23em;
  }
  .illustration {
    width: 15rem;
  }
  .search {
    width: 20em;
  }
  .trendings {
    width: 70%;
  }
  .container-search {
    margin-top: 20px;
  }
  #results hr {
    top: 15px;
  }
  header nav .menu ul {
    top: 90px;
  }
  .max-gif-img {
    width: 20rem !important;
  }
  .btn-close-max {
    margin-right: 50px !important;
  }
  .max-info-p {
    padding-left: 10% !important;
  }
  .max-info-btns {
    margin-right: 15% !important;
  }
}

@media all and (min-width: 667px) and (max-width: 768px) {
  #slider {
    width: 40rem;
    overflow-x: scroll;
  }
  #prev,
  #next {
    display: none;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3] !important;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr) !important;
    overflow: hidden;
  }
  .nav-search {
    right: 0;
  }
  footer {
    padding: 0 5em !important;
  }
}

@media all and (min-width: 481px) and (max-width: 500px) {
  #slider {
    width: 25rem;
    overflow-x: scroll;
  }
  #prev,
  #next {
    display: none;
  }
  #trending {
    height: 30rem;
  }
  #trending .subtitle {
    margin-bottom: 3rem;
  }
  .gif,
  .gif-card {
    width: 20rem;
    height: 14rem;
  }
  .nav-search {
    right: 0;
    width: 15rem;
    display: none;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3] !important;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template: repeat(3, 1fr)/repeat(1, 1fr) !important;
    overflow: hidden;
    margin: 0 auto;
  }
  footer {
    padding: 0 5em !important;
    height: 12em !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .share-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.8125rem;
    padding-top: 1rem;
  }
  .share-container ul {
    margin-top: 1.25rem;
  }
  .title-container {
    width: 25em;
  }
  .illustration {
    width: 20rem;
  }
  .search {
    width: 25em;
  }
  .trendings {
    width: 70%;
  }
  .max-gif-img {
    width: 20rem !important;
  }
  .btn-close-max {
    margin-right: 50px !important;
  }
  .max-info-p {
    padding-left: 10% !important;
  }
  .max-info-btns {
    margin-right: 15% !important;
  }
}

@media all and (min-width: 667px) and (max-width: 768px) {
  #slider {
    width: 40rem;
    overflow-x: scroll;
  }
  #prev,
  #next {
    display: none;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3] !important;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr) !important;
    overflow: hidden;
  }
  .nav-search {
    right: 0;
  }
  footer {
    padding: 0 5em !important;
  }
}

@media all and (min-width: 501px) and (max-width: 666px) {
  #slider {
    width: 30rem;
    overflow-x: scroll;
  }
  #prev,
  #next {
    display: none;
  }
  #trending {
    height: 30rem;
  }
  #trending .subtitle {
    margin-bottom: 3rem;
  }
  .gif,
  .gif-card {
    width: 20rem;
    height: 14rem;
  }
  .nav-search {
    right: 0;
    width: 15rem;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3] !important;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr) !important;
    overflow: hidden;
  }
  footer {
    padding: 0 5em !important;
    height: 12em !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .share-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.8125rem;
    padding-top: 1rem;
  }
  .share-container ul {
    margin-top: 1.25rem;
  }
  .title-container {
    width: 25em;
  }
  .illustration {
    width: 20rem;
  }
  .search {
    width: 25em;
  }
  .trendings {
    width: 70%;
  }
  .max-gif-img {
    width: 25rem !important;
  }
  .btn-close-max {
    margin-right: 50px !important;
  }
  .max-info-p {
    padding-left: 10% !important;
  }
  .max-info-btns {
    margin-right: 15% !important;
  }
}

@media all and (min-width: 667px) and (max-width: 768px) {
  #slider {
    width: 40rem;
    overflow-x: scroll;
  }
  #prev,
  #next {
    display: none;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3] !important;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr) !important;
    overflow: hidden;
  }
  .nav-search {
    right: 0;
  }
  footer {
    padding: 0 5em !important;
  }
  .title-container {
    width: 25em;
  }
  .illustration {
    width: 22rem;
  }
  .search {
    width: 30em;
  }
  .trendings {
    width: 25em;
  }
  .max-gif-img {
    width: 25rem !important;
  }
  .btn-close-max {
    margin-right: 50px !important;
  }
  .max-info-p {
    padding-left: 10% !important;
  }
  .max-info-btns {
    margin-right: 15% !important;
  }
}

@media all and (min-width: 769px) and (max-width: 959px) {
  #slider {
    width: 45rem;
    overflow-x: scroll;
  }
  #prev,
  #next {
    display: none;
  }
  .nav-search {
    right: 0;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    overflow: hidden;
  }
  .max-gif-img {
    width: 30rem !important;
  }
  .btn-close-max {
    margin-right: 50px !important;
  }
  .max-info-p {
    padding-left: 10% !important;
  }
  .max-info-btns {
    margin-right: 15% !important;
  }
}

@media all and (min-width: 960px) and (max-width: 1150px) {
  #slider {
    width: 45rem;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    width: 85%;
    overflow: hidden;
  }
}

@media all and (min-width: 1151px) and (max-width: 1200px) {
  .nav-search {
    right: 0;
  }
  #slider {
    width: 60rem;
  }
  #gallery {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  }
}

footer {
  border-bottom: 5px solid #572ee5;
  height: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9em;
  font-size: 0.8125em;
}

body.dark footer {
  border-bottom: 5px solid black;
}

.share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16em;
}

.share-container ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.share-container ul {
  margin-left: 17px;
}

.share-container i {
  font-size: 18px;
  color: #9cafc3;
}

.share-container ul li i:hover {
  color: #572ee5;
}

body.dark .share-container ul li i:hover {
  color: #ffffff;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 5000;
  overflow: hidden;
  display: none;
}

.btn-close-max {
  float: right;
  margin-top: 66px;
  margin-right: 278px;
  cursor: pointer;
}

.max-gif img {
  width: 100%;
}

.btns-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.max-buttonGifs {
  border: 1px solid #ced7e1;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  background-color: white;
}

.max-user {
  font-size: 15px;
  text-align: left;
}

.max-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.max-image-text {
  width: 90%;
}

.max-gif-info {
  width: 70%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 0.5fr 1.5fr 1fr;
      grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
      grid-template-areas: ". . . max-cross" "max-gif max-gif max-gif max-gif" "max-info max-info max-info max-info";
  width: 100%;
  height: 100%;
}

.max-gif {
  display: -ms-grid;
  display: grid;
  gap: 0px 0px;
      grid-template-areas: ". max-gif-img ." ". max-gif-img .";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: max-gif;
}

.max-gif-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: max-gif-img;
  margin: 0 auto;
  width: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.max-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
      grid-template-areas: "max-info-p . max-info-btns" ". . .";
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: max-info;
  margin-top: 25px;
}

.max-info-p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: max-info-p;
  padding-left: 50%;
}

.max-info-btns {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: max-info-btns;
}

.max-info-btns button:nth-child(2) {
  margin-left: 20px;
}

.max-info-btns button:hover {
  opacity: 1;
}

.max-cross {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: max-cross;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark {
  background: #37383c;
  color: #ffffff;
}

main {
  margin-top: 95px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 127px;
  height: 50px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  margin: 80px auto;
}

body.dark .btn {
  border: 1px solid #ffffff;
}

.btn a {
  text-decoration: none;
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

body.dark .btn a {
  color: #ffffff;
}

.btn:hover {
  background: #572ee5;
}

.btn:hover a {
  color: #ffffff;
}

body.dark .btn:hover a {
  color: #37383c;
}

body.dark .btn:hover {
  background: #ffffff;
}

.fav-active {
  content: url("../assets/icon-fav-active.svg") !important;
}
/*# sourceMappingURL=styles.css.map */